<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM1bFQ0MDkZ9a0WZZ8v4px79LQH9jB3El8ljhX" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
  <title>Gestión de Proveedores</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #19246dda;">
  <div class="container-fluid" style="background-color: #04092cda;">
    <a class="navbar-brand" href="#">
      <img src="assets/SUPERAMA_Logo.png" alt="logo" width="80" height="80" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active custom-font" aria-current="page" href="#">Superama</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a class="nav-link custom-font" href="/home" style="color: white; font-size: 1.2rem; padding: 0 15px;">Home</a>
        <a href="login" style="cursor: pointer; color: white; font-size: 1.5rem; padding: 0 15px;">
          <i class="fas fa-user" style="color: white;"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h3>Gestión de Categorías</h3>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="nuevaCategoria"
      placeholder="Nombre de la categoría"
    />
    <button class="btn btn-success" (click)="agregarCategoria()">Agregar</button>
  </div>
  <ul class="list-group">
    <li *ngFor="let categoria of categorias" class="list-group-item">
      {{ categoria.Nombre }}
    </li>
  </ul>
</div>

<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg" style="border-radius: 1rem;">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">Agregar Categoría</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: #f8f9fa;">
        <form (ngSubmit)="agregarCategoria()">
          <div class="mb-3">
            <label for="categoryName" class="form-label">Nombre de la Categoría</label>
            <input type="text" [(ngModel)]="nuevaCategoria" name="categoryName" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Guardar Categoría</button>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="py-5 bg-light">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0 fw-bold text-dark">Gestión de Proveedores</h2>
      <button class="btn btn-success shadow-sm" data-bs-toggle="modal" data-bs-target="#providerModal" (click)="nuevoProveedor()">Agregar Proveedor</button>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-3 mb-4" *ngFor="let proveedor of proveedores">
        <div class="card shadow-sm border-light">
          <div class="card-body">
            <h5 class="card-title text-dark">{{ proveedor.Nombre }}</h5>
            <p class="card-text text-secondary">Nombre del proveedor: {{ proveedor.NombreProveedor }}</p>
            <p class="card-text text-secondary">Contacto: {{ proveedor.Contacto }}</p>
            <p class="card-text text-secondary">Teléfono: {{ proveedor.Telefono }}</p>
            <p class="card-text text-secondary">Email: {{ proveedor.Email }}</p>
            <p class="card-text text-secondary">Categoría: {{ proveedor.CategoriaNombre }}</p>

            <div class="d-flex justify-content-between">
              <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#providerModal" (click)="editarProveedor(proveedor)">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="eliminarProveedor(proveedor.Id)">Eliminar {{ proveedor.id }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="providerModal" tabindex="-1" aria-labelledby="providerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg" style="border-radius: 1rem;">
      <div class="modal-header">
        <h5 class="modal-title" id="providerModalLabel">{{ proveedorSeleccionado.id ? 'Editar Proveedor' : 'Agregar Proveedor' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: #f8f9fa;">
        <form (ngSubmit)="guardarProveedor()">
          <input type="hidden" [(ngModel)]="proveedorSeleccionado.id" name="providerId">
          <div class="mb-3">
            <label for="providerName" class="form-label">Nombre del Proveedor</label>
            <input type="text" [(ngModel)]="proveedorSeleccionado.NombreProveedor" name="providerName" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="providerName" class="form-label">Proveedor</label>
            <input type="text" [(ngModel)]="proveedorSeleccionado.Nombre" name="providerName" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="providerContact" class="form-label">Contacto</label>
            <input type="text" [(ngModel)]="proveedorSeleccionado.Contacto" name="providerContact" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="providerPhone" class="form-label">Teléfono</label>
            <input type="text" [(ngModel)]="proveedorSeleccionado.Telefono" name="providerPhone" class="form-control">
          </div>
          <div class="mb-3">
            <label for="providerEmail" class="form-label">Email</label>
            <input type="email" [(ngModel)]="proveedorSeleccionado.Email" name="providerEmail" class="form-control">
          </div>
          <div class="mb-3">
            <label for="providerCategory" class="form-label">Categoría</label>
            <select [(ngModel)]="proveedorSeleccionado.CategoriaId" name="providerCategory" class="form-control">
              <option *ngFor="let categoria of categorias" [value]="categoria.Id">{{ categoria.Nombre }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary w-100">{{ proveedorSeleccionado.id ? 'Actualizar' : 'Guardar' }}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="bg-dark text-white py-5">
  <div class="container text-center">
    <p class="mb-0">© 2024 SUPERAMA. Todos los derechos reservados.</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
