nav {
    margin: 0;
    padding: 0;
  }
  
  .nav-link.active {
    color: white !important;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar {
    background-color: #19246dda; /* Color azul fuerte */
  }
  
  .navbar-brand img {
    width: 80px;
    height: 80px;
  }
  
  /* Sección de inventario */
  .card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .btn {
    font-size: 0.9rem;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-warning {
    background-color: #ffc107; /* Color de botón de advertencia */
    border: none;
  }
  
  .btn-warning:hover {
    background-color: #e67e22;
  }
  
  .btn-danger {
    background-color: #dc3545; /* Color de botón de peligro */
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #c0392b;
  }
  
  .btn-success {
    background-color: #28a745; /* Color de botón de éxito */
    border: none;
  }
  
  /* Modal */
  .modal-header {
    background-color: #007bff; /* Color azul fuerte */
    color: white;
  }
  
  .form-label {
    font-weight: 600;
    color: #34495e;
  }
  
  .btn-primary {
    background-color: #2980b9; /* Color del botón primario */
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #3498db;
  }
  
  .modal-header {
    border-bottom: 1px solid #ddd;
  }
  
  .modal-body {
    border-radius: 0 0 1rem 1rem;
  }
  