<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      .border-danger { border-color: #dc3545 !important; }
      .border-warning { border-color: #ffc107 !important; }
      .border-success { border-color: #28a745 !important; }
      .product-card { transition: box-shadow 0.3s; }
      .product-card:hover { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); }
    </style>
    <title>Lista de Productos</title>
</head>
<body>

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #19246dda;">
      <div class="container-fluid" style="background-color: #04092cda;">
        <a class="navbar-brand" href="#">
          <img src="assets/SUPERAMA_Logo.png" alt="logo" width="80" height="80" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active custom-font" aria-current="page" href="#">Superama</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <a class="nav-link custom-font" href="/home" style="color: white; font-size: 1.2rem; padding: 0 15px;">Home</a>
            <a style="cursor: pointer; color: white; font-size: 1.5rem; padding: 0 15px;">
              <i class="fas fa-user" style="color: white;"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>


    
    <div class="container mt-5">
      <header class="d-flex justify-content-between align-items-center mb-4">
          <h2 class="display-4">Lista de Productos</h2>
          <div>
            <button class="btn btn-primary" (click)="abrirModalAgregar()">Agregar Producto</button>
            <button class="btn btn-warning" (click)="irASurtirProductos()">Surtir Productos</button>
          </div>
      </header>
      <script async src="https://cse.google.com/cse.js?cx=95b22fc4523ca4cec">
      </script>
      <div class="gcse-search"></div>
  
      <!-- Selector de Categoría y Buscador -->
      <select (change)="onCategoriaChange($event)">
        <option value="0">Todas las categorías</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.Id">{{ categoria.Nombre }}</option>
      </select>
      
      <!-- Input para búsqueda -->
      <input type="text" (input)="onBusquedaChange($event)" placeholder="Buscar productos..." />
  
      


      <div class="container mt-5">
        <!-- Productos Disponibles -->
        <h2 class="text-success mt-4">Productos Disponibles</h2>
        <div class="row">
            <div *ngFor="let producto of productosDisponibles" class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card product-card shadow-sm border-success">
                    <img [src]="producto.ImagenURL" class="card-img-top rounded-top" alt="{{ producto.Nombre }}" (error)="setDefaultImage($event)"  *ngIf="producto.Id !== undefined" (click)="verDetalleProducto(producto.Id)" >
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.Nombre }}</h5>
                        <p class="card-text">Categoría: {{ getCategoriaNombre(producto.CategoriaId) }}</p>
                        <p class="card-text text-success">Cantidad Disponible: {{ producto.CantidadDisponible }}</p>
                        <div class="alert alert-success">Producto en stock</div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button (click)="editarProducto(producto)" class="btn btn-outline-primary btn-sm">Editar</button>
                            <button (click)="eliminarProducto(producto.Id!)" class="btn btn-outline-danger btn-sm">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Productos Agotados -->
        <h2 class="text-danger mt-4">Productos Agotados</h2>
        <div class="row">
            <div *ngFor="let producto of productosAgotados" class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card product-card shadow-sm border-danger">
                    <img [src]="producto.ImagenURL" class="card-img-top rounded-top" alt="{{ producto.Nombre }}" (error)="setDefaultImage($event)" *ngIf="producto.Id !== undefined" (click)="verDetalleProducto(producto.Id)">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.Nombre }}</h5>
                        <p class="card-text">Categoría: {{ getCategoriaNombre(producto.CategoriaId) }}</p>
                        <p class="card-text text-danger">Cantidad Disponible: {{ producto.CantidadDisponible }}</p>
                        <div class="alert alert-danger">¡Producto agotado!</div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button (click)="editarProducto(producto)" class="btn btn-outline-primary btn-sm">Editar</button>
                            <button (click)="eliminarProducto(producto.Id!)" class="btn btn-outline-danger btn-sm">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Productos Por Agotarse -->
        <h2 class="text-warning mt-4">Productos Por Agotarse</h2>
        <div class="row">
            <div *ngFor="let producto of productosPorAgotarse" class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card product-card shadow-sm border-warning">
                    <img [src]="producto.ImagenURL" class="card-img-top rounded-top" alt="{{ producto.Nombre }}" (error)="setDefaultImage($event)" *ngIf="producto.Id !== undefined" (click)="verDetalleProducto(producto.Id)">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.Nombre }}</h5>
                        <p class="card-text">Categoría: {{ getCategoriaNombre(producto.CategoriaId) }}</p>
                        <p class="card-text text-warning">Cantidad Disponible: {{ producto.CantidadDisponible }}</p>
                        <div class="alert alert-warning">¡Por agotarse!</div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button (click)="editarProducto(producto)" class="btn btn-outline-primary btn-sm">Editar</button>
                            <button (click)="eliminarProducto(producto.Id!)" class="btn btn-outline-danger btn-sm">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      
  
      <!-- Modal para agregar productos -->
      <div class="modal fade" id="agregarProductoModal" tabindex="-1" aria-labelledby="agregarProductoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title" id="agregarProductoModalLabel">Agregar Producto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpiarFormulario()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="agregarProducto()">
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" [(ngModel)]="productoSeleccionado.Nombre" name="nombre" required class="form-control" />
                </div>
                <div class="form-group">
                  <label for="Precio">Precio</label>
                  <input type="number" [(ngModel)]="productoSeleccionado.Precio" name="precio" required class="form-control" />
                </div>
                <div class="form-group">
                  <label for="Cantidad">Cantidad</label>
                  <input type="number" [(ngModel)]="productoSeleccionado.CantidadDisponible" name="CantidadDisponible" required class="form-control" />
                </div>
                
                <div class="form-group">
                  <label for="Categoria">Categoría</label>
                  <select [(ngModel)]="productoSeleccionado.CategoriaId" name="Categoria" required class="form-control">
                    <option *ngFor="let categoria of categorias" [value]="categoria.Id">{{ categoria.Nombre }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="CodigoQR">Código de Barras</label>
                  <input type="text" [(ngModel)]="productoSeleccionado.CodigoBarras" name="codigoBarras" class="form-control" required />
                </div>                
                <div class="form-group">
                  <label for="Imagen">URL de la Imagen</label>
                  <input type="text" [(ngModel)]="productoSeleccionado.ImagenURL" name="Imagen" class="form-control" placeholder="Ingrese la URL de la imagen" />
                </div>
                <button type="submit" class="btn btn-success btn-block">Agregar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal para editar productos -->
      <div class="modal fade" id="editarProductoModal" tabindex="-1" aria-labelledby="editarProductoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title" id="editarProductoModalLabel">Editar Producto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpiarFormulario()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="actualizarProducto()">
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" [(ngModel)]="productoSeleccionado.Nombre" name="Nombre" required class="form-control" />
                </div>
                <div class="form-group">
                  <label for="Precio">Precio</label>
                  <input type="number" [(ngModel)]="productoSeleccionado.Precio" name="Precio" required class="form-control" />
                </div>
                <div class="form-group">
                  <label for="Cantidad">Cantidad</label>
                  <input type="number" [(ngModel)]="productoSeleccionado.CantidadDisponible" name="CantidadDisponible" required class="form-control" />
                </div>
                
                <div class="form-group">
                  <label for="Categoria">Categoría</label>
                  <select [(ngModel)]="productoSeleccionado.CategoriaId" name="Categoria" required class="form-control">
                    <option *ngFor="let categoria of categorias" [value]="categoria.Id">{{ categoria.Nombre }}</option>
                  </select>
                </div>
                
                <button type="submit" class="btn btn-success btn-block">Actualizar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>