/* Estilos generales */
html, body {
  height: 100%; /* Asegura que el body ocupe el 100% de la altura */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* Coloca los elementos de forma vertical */
}

.container {
  flex: 1; /* Permite que el contenedor crezca y ocupe el espacio disponible */
  max-width: 1200px; /* Aumentar el ancho máximo para pantallas grandes */
  padding: 0 15px; /* Añadir relleno al contenedor */
  margin: 0 auto; /* Centrar el contenedor */
}


/* Tarjetas de productos */
.product-card {
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.alert {
  padding: 8px;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.alert-success {
  background-color: #ffffff;
  color: #155724;
  border-color: #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
}

/* Botones */
.btn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
  color: #000;
}

.btn-warning:hover {
  background-color: #e67e22;
  color: #000;
}

.btn-success {
  background-color: #28a745;
  border: none;
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

/* Modal */
.modal-header {
  background-color: #007bff;
  color: white;
  border-bottom: 1px solid #ffffff;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.modal-body {
  padding: 20px;
}

.form-label {
  font-weight: 600;
  color: #34495e;
  margin-bottom: 5px;
}

.form-control {
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #f8f4f4;
  padding: 8px;
}

/* Responsividad */
@media (max-width: 768px) {
  .product-card {
      margin-bottom: 15px;
  }
  .btn {
      font-size: 0.8rem;
      padding: 6px 10px;
  }
}


/* Botones de scroll */
.scroll-btn {
  position: fixed;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  background-color: #6FBF1F;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

.scroll-btn:hover {
  background-color: #9ff34a;
}

.down {
  bottom: 80px;
}

.up {
  bottom: 20px;
}

/* Estilo para el dropdown de categorías */
.form-control.select-categoria {
  background-color: #f8f9fa;
  border: 2px solid #AC66F2;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #333;
  transition: all 0.3s ease;
}

.form-control.select-categoria:hover {
  border-color: #AC66F2;
  background-color: #e9ecef;
}

.form-control.select-categoria:focus {
  border-color: #AC66F2;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Estilo para el buscador */
.form-control.buscador {
  background-color: #f8f9fa;
  border: 2px solid #AC66F2;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #333;
  transition: all 0.3s ease;
}

.form-control.buscador:hover {
  border-color: #AC66F2;
  background-color: #e9ecef;
}

.form-control.buscador:focus {
  border-color: #AC66F2;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}