<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Contenido principal -->
    <div class="container mt-5">
        <header class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="display-4">Lista de Productos</h2>
        </header>

        <!-- Selector de Categoría y Buscador -->
        <div class="row mb-4">
            <div class="col-md-6">
                <select class="form-control select-categoria" (change)="onCategoriaChange($event)">
                    <option value="0">Todas las categorías</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.Id">{{ categoria.Nombre }}</option>
                </select>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control buscador" (input)="onBusquedaChange($event)" placeholder="Buscar productos...">
            </div>
        </div>

        <!-- Lista de Productos Filtrados -->
        <div class="row">
            <div *ngFor="let producto of productosFiltrados" class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card product-card shadow-sm">
                    <img [src]="producto.ImagenURL" class="card-img-top rounded-top" alt="{{ producto.Nombre }}" (error)="setDefaultImage($event)" *ngIf="producto.Id !== undefined" (click)="verDetalleProducto(producto.Id)">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.Nombre }}</h5>
                        <p class="card-text">Categoría: {{ getCategoriaNombre(producto.CategoriaId) }}</p>
                        <p class="card-text">Cantidad Disponible: {{ producto.CantidadDisponible }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <button (click)="editarProducto(producto)" class="btn btn-outline-primary btn-sm">Editar</button>
                            <button (click)="eliminarProducto(producto.Id!)" class="btn btn-outline-danger btn-sm">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Botón para ir abajo -->
    <button *ngIf="showScrollDown" class="scroll-btn down" (click)="scrollToBottom()">↓</button>

    <!-- Botón para ir arriba -->
    <button *ngIf="showScrollUp" class="scroll-btn up" (click)="scrollToTop()">↑</button>
</body>
</html>