<section class="vh-100 d-flex flex-column">
    <div class="container-fluid h-custom flex-grow-1">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <!-- Columna para la Imagen -->
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets/SUPERAMA.png" class="img-fluid" alt="Sample image" />
        </div>
        <!-- Columna para el Formulario de Restablecimiento de Contraseña -->
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onResetPassword()">
            <h2 class="mb-4">Restablece tu Contraseña</h2>
  
            <!-- Correo -->
            <div class="form-outline mb-4">
              <input
                type="email"
                id="correo"
                formControlName="correo"
                class="form-control form-control-lg"
                placeholder="Correo electrónico"
              />
              <label class="form-label" for="correo">Correo</label>
              <div *ngIf="forgotPasswordForm.get('correo')?.invalid && forgotPasswordForm.get('correo')?.touched" class="text-danger">
                El correo es requerido.
              </div>
            </div>
  
            <!-- Botón de Enviar -->
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="forgotPasswordForm.invalid"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- Pie de página -->
    <footer class="footer mt-auto bg-primary text-white py-4 px-4 px-xl-5">
      <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between">
        <div class="mb-3 mb-md-0">
          Copyright © 2024. Todos los derechos reservados.
        </div>
        <div>
          <a href="#!" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
          <a href="#!" class="text-white me-4"><i class="fab fa-twitter"></i></a>
          <a href="#!" class="text-white me-4"><i class="fab fa-google"></i></a>
          <a href="#!" class="text-white"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </footer>
  </section>
  