  <!DOCTYPE html>
  <html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
      <title>Surtir Productos</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #19246dda;">
      <div class="container-fluid" style="background-color: #04092cda;">
        <a class="navbar-brand" href="#">
          <img src="assets/SUPERAMA_Logo.png" alt="logo" width="80" height="80" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active custom-font" aria-current="page" href="#">Superama</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <a class="nav-link custom-font" href="/home" style="color: white; font-size: 1.2rem; padding: 0 15px;">Home</a>
            <a style="cursor: pointer; color: white; font-size: 1.5rem; padding: 0 15px;">
              <i class="fas fa-user" style="color: white;"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>

  <div class="container mt-5">
      <h2 class="display-4 text-center mb-4">Surtir Productos</h2>

      <!-- Selección de categoría -->
      <div class="mb-3">
        <label for="categoriaSelect" class="form-label">Seleccionar Categoría</label>
        <select [(ngModel)]="selectedCategoriaId" id="categoriaSelect" class="form-select">
            <option value="0">Todas las Categorías</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.Id">{{ categoria.Nombre }}</option>
        </select>
    </div>

      <div class="row">
          <!-- Columna de productos en tarjetas -->
          <div class="col-lg-9">
              <h3>Productos Disponibles</h3>
              <div class="row">
                  <div *ngFor="let producto of productos | categoryFilter:selectedCategoriaId" class="col-lg-4 col-md-6 col-sm-12 mb-4">
                      <div class="card product-card shadow-sm border-0" 
                          [ngClass]="{
                              'border-danger': producto.estado === 'Agotado',
                              'border-warning': producto.estado === 'PorAgotarse',
                              'border-success': producto.estado === 'Disponible'
                          }">
                          <div class="card-body">


                              <h5 class="card-title">{{ producto.Nombre }}</h5>
                              <p class="card-text">Cantidad disponible: <strong>{{ producto.CantidadDisponible }}</strong></p>
                              <p class="card-text">Cantidad a pedir: </p>
                              <input type="number" [(ngModel)]="producto.cantidadSolicitada" min="1" max="{{ producto.CantidadDisponible }}" placeholder="Cantidad a solicitar" class="form-control" />
                              <div class="form-group mt-2">
                                  <label for="proveedor">Seleccionar Proveedor</label>
                                  <select [(ngModel)]="producto.proveedorId" class="form-control">
                                      <option *ngFor="let proveedor of proveedores" [value]="proveedor.Id">{{ proveedor.Nombre }}</option>
                                  </select>
                              </div>
                              
                              <div *ngIf="producto.estado === 'Agotado'" class="alert alert-danger">
                                  <strong>¡Producto agotado!</strong>
                              </div>
                              <div *ngIf="producto.estado === 'PorAgotarse'" class="alert alert-warning">
                                  <strong>¡Por agotarse!</strong>
                              </div>
                              <div *ngIf="producto.estado === 'Disponible'" class="alert alert-success">
                                  <strong>Producto en stock</strong>
                              </div>
                              <div>
                                <button *ngIf="producto.cantidadSolicitada > 0 && producto.proveedorId" class="btn btn-primary mt-3">
                                  Realizar Pedido
                                </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Columna de productos solicitados -->
          <div class="col-lg-3">
            <h3 style="text-align: center;">Productos Solicitados</h3>
            <div *ngIf="productosSurtir.length > 0; else noProductos">
              <div class="products-column">
                <div class="card" *ngFor="let producto of productosSurtir">
                  <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">Precio: ${{ producto.precio }}</p>
                    <p class="card-text">Cantidad: {{ producto.cantidadSolicitada }}</p>
                     <button class="btn btn-success mt-2" (click)="eliminarProductoSurtir(producto)"> 
                      Pedido entregado
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noProductos>
              <p>No hay productos disponibles para surtir.</p>
            </ng-template>          
          </div>

          
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  </html>
