<div class="site-map-container">
  <h2>Mapa del Sitio</h2>
  <div class="site-map-grid">
      <div class="site-map-column">
          <h3>Principal</h3>
          <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/producto">Productos</a></li>
              <li><a href="/contacto">Contáctanos</a></li>
          </ul>
      </div>

      <div class="site-map-column">
          <h3>Servicios</h3>
          <ul>
              <li><a href="/como-funciona">¿Cómo Funciona?</a></li>
              <li><a href="/promocion">Promociones</a></li>
              <li><a href="/soporte">Soporte</a></li>
          </ul>
      </div>

      <div class="site-map-column">
          <h3>Legales</h3>
          <ul>
              <li><a href="/terminosypri">Términos y Condiciones</a></li>
          </ul>
      </div>
  </div>
</div>
