.productos-promocion {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.productos-promocion h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

.categoria {
  margin-bottom: 30px;
}

.categoria-titulo {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #555;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

.productos-lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.producto-card {
  background-color: #fff;
  border: 1px solid #fcf4f4;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(15, 15, 15, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.producto-imagen {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.producto-detalles {
  padding: 15px;
}

.producto-nombre {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.producto-precio-original {
  font-size: 1rem;
  text-decoration: line-through;
  color: #999;
}

.producto-precio-original span {
  font-weight: bold;
}

.producto-precio-descuento {
  font-size: 1.1rem;
  color: #d9534f;
}

.producto-precio-descuento span {
  font-weight: bold;
}

.productos-promocion p {
  text-align: center;
  font-size: 1rem;
  color: #666;
}


/* Botones de scroll */
.scroll-btn {
  position: fixed;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  background-color: #6FBF1F;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

.scroll-btn:hover {
  background-color: #9ff34a;
}

.down {
  bottom: 80px;
}

.up {
  bottom: 20px;
}