/* Reset básico */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-link.active {
  color: white !important;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
}

/* Contenedor del contenido principal */
.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Footer fijo en la parte inferior */
.footer {
  width: 100%;
  background-color: #04092cda;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

/* Mejoras en imágenes */
.img-fluid {
  width: 100%;
  height: auto;
}

/* Estilos del navbar */
.navbar {
  background-color: #04092cda;
  padding: 0px 0px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* Botón redondeado */
.btn-primary {
  background-color: #d0a9f8; /* Morado claro */
  border: none; /* Sin borde */
  color: white; /* Texto en blanco */
}

.btn-primary:hover {
  background-color: #AC66F2; /* Morado más oscuro al pasar el mouse */
}

.btn-primary:disabled {
  background-color: #d0a9f8; 
  opacity: 0.7; /* Reduce la opacidad para indicar que está deshabilitado */
}

h2 {
  font-size: 2rem; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  color: #333; /* Color del texto */
  margin-bottom: 1.5rem; /* Espacio debajo del título */
}

.form-label {
  font-weight: bold; /* Texto en negrita */
  color: #555; /* Color del texto */
}

/* Responsividad */
@media (max-width: 768px) {
  .footer {
    text-align: center;
    padding: 10px;
  }

  .navbar {
    text-align: center;
  }

  .navbar a {
    display: block;
    padding: 10px;
  }
}
