/* Estilos generales */
.navbar {
  background-color: #F291A3 !important;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo y nombre */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white !important;
}

/* Iconos */
.icon-link1, .icon-link2 {
  color: white;
  font-size: 1.8rem; 
  text-decoration: none;
  position: relative; 
}

.icon-link1:hover, .icon-link2:hover {
  color: #FFC0CB;
}

/* Tooltips para los íconos */
.icon-link1::after, .icon-link2::after {
  content: attr(data-tooltip); 
  position: absolute;
  bottom: -35px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFC0CB;
  color: rgb(255, 255, 255); /* Texto blanco */
  font-size: 1.0rem; /* Tamaño del texto */
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease, visibility 0.3s ease; 
  white-space: nowrap; 
}

.icon-link1:hover::after, .icon-link2:hover::after {
  opacity: 1; 
  visibility: visible;
}

/* Buscador */
.search-bar {
  flex-grow: 1; 
  width: 100px; 
  margin-left: 5%;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  padding: 5px 9px;
  width: 100%;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 12px;
  border-radius: 25px 0 0 25px;
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #F291A3;
  padding: 8px 12px;
  border-radius: 0 25px 25px 0;
}

.search-btn:hover {
  color: #E10098;
}

/* Enlaces */
.navbar-nav {
  display: flex;
  align-items: center;
  margin-right: 30px; /* Espacio entre el buscador y los enlaces */
}

.nav-link {
  font-size: 1.1rem;
  color: white !important;
  font-weight: 500;
  margin-left: 20px; /* Espacio entre los enlaces */
}

.nav-link:hover {
  color: #FFC0CB !important;
}

/* Responsive */
@media (max-width: 992px) {
  .search-bar {
      max-width: 100%;
  }

  .navbar-nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-right: 0; 
  }

  .icon-link1, .icon-link2 {
      font-size: 2rem; 
      margin-left: 0; 
  }

  .d-flex.flex-column.flex-lg-row.align-items-center.gap-3.ms-lg-auto {
      justify-content: center;
      margin-top: 10px; 
  }
}


.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.search-results li:hover {
  background-color: #f8f9fa;
}

.dropdown-menu {
  background-color: #F291A3; /* Color de fondo del menú desplegable */
  border: none;
}

.dropdown-item {
  color: white; /* Color del texto del menú desplegable */
}

.dropdown-item:hover {
  background-color: #e57373; /* Color de fondo al pasar el cursor */
}