<div class="container">
  <h1>Consultas</h1>

  <div class="filter-card">
    <div class="filter-section">
      <label for="filter">Filtro:</label>
      <select id="filter" [(ngModel)]="selectedFilter">
        <option value="day">Día</option>
        <option value="week">Semana</option>
        <option value="month">Mes</option>
      </select>
  
      <div *ngIf="selectedFilter === 'day'">
        <label for="selectedDate">Fecha:</label>
        <input id="selectedDate" type="date" [(ngModel)]="selectedDate" />
      </div>
  
      <div *ngIf="selectedFilter === 'week'">
        <label for="selectedWeek">Semana:</label>
        <input id="selectedWeek" type="number" [(ngModel)]="selectedWeek" min="1" max="52" />
      </div>
  
      <div *ngIf="selectedFilter === 'month'">
        <label for="selectedMonth">Mes:</label>
        <select id="selectedMonth" [(ngModel)]="selectedMonth">
          <option *ngFor="let month of ['Enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']" [value]="month">
            {{ month }}
          </option>
        </select>
        <label for="selectedYear">Año:</label>
        <input id="selectedYear" type="number" [(ngModel)]="selectedYear" min="2000" max="2100" />
      </div> 
  
      <button class="btn-custom" (click)="aplicarFiltro()">Aplicar Filtro</button>
    </div>
  </div>
  
  <!-- Sección de gráficos -->
  <div class="charts">
    <h2>Gráficos de Datos</h2>

    <!-- Gráfico de Ventas Totales -->
    <div class="chart-section">
      <h3>Ventas Totales</h3>
       <canvas *ngIf="ventasData" baseChart
              [datasets]="ventasData.datasets" 
              [labels]="ventasData.labels" 
              [options]="{ responsive: true }">
      </canvas> 
    </div>

    <!-- Gráfico de Productos Más Vendidos -->
    <div class="chart-section">
      <h3>Productos Más Vendidos</h3>
      <canvas *ngIf="productosVendidosData" baseChart
              [datasets]="productosVendidosData.datasets" 
              [labels]="productosVendidosData.labels" 
              [options]="{ responsive: true }">
      </canvas> 
    </div>

    <!-- Gráfico de Horario de Ventas -->
    <div class="chart-section">
      <h3>Horario de Ventas</h3>
       <canvas *ngIf="horarioVentasData" baseChart
              [datasets]="horarioVentasData.datasets" 
              [labels]="horarioVentasData.labels" 
              [options]="{ responsive: true }">
      </canvas> 
    </div>

    <!-- Gráfico de Uso de Tipos de Pago -->
    <div class="chart-section">
      <h3>Concentrado de Tipos de Pago</h3>
       <canvas *ngIf="ticketUsoData" baseChart
              [datasets]="ticketUsoData.datasets" 
              [labels]="ticketUsoData.labels" 
              [options]="{ responsive: true }">
      </canvas> 
    </div>
  </div>
</div>
