/* Sección de filtros */
.filter-section {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-section label {
    font-weight: bold;
    color: #34495e;
}

.filter-section select {
    padding: 8px 12px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s;
}

.filter-section select:focus {
    border-color: #2980b9;
    outline: none;
}

/* Contenedor de gráficos */
.chart-container {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}

.chart-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.chart-container h3 {
    font-size: 1.3rem;
    color: #19246d;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

/* Canvas para los gráficos */
canvas {
    width: 100% !important;
    height: 450px !important; /* Ajuste de altura para gráficos más altos */
}
nav {
    margin: 0;
    padding: 0;
  }

  .nav-link.active {
    color: white !important;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
  }

  .btn-custom {
    background-color: #19246d; 
    color: white; 
    transition: background-color 0.3s ease; 
    width: 300px; 
  }

/* Sección de gráficos */
.chart-section {
    background-color: #d0dbf6; /* Color de fondo para ver la sección */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* Botón de aplicar filtro en dispositivos móviles */
@media (max-width: 768px) {
    .filter-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .chart-container h3 {
        font-size: 1.1rem;
    }
}
