/* Reset básico */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenedor del contenido principal */
.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

nav {
  margin: 0;
  padding: 0;
}

.nav-link.active {
  color: white !important;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
}

.navbar {
  background-color: #86b8a1;
}
.navbar-brand img {
  width: 80px;
  height: 80px;
}

.g-recaptcha {
  margin: 0 auto;
}


/* Footer fijo en la parte inferior */
.footer {
  width: 100%;
  background-color: #04092cda;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

/* Mejoras en imágenes */
.img-fluid {
  width: 100%;
  height: auto;
}

/* Estilos del navbar */
.navbar {
  background-color: #04092cda;
  padding: 0px 0px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.navbar a:hover {
  background-color: rgba(100, 13, 13, 0.2);
  border-radius: 5px;
}

/* Botón redondeado */
.btn-primary {
  background-color: #004080;
  border: none;
}

.btn-primary:hover {
  background-color: #002d5a;
}

/* Responsividad */
@media (max-width: 768px) {
  .footer {
    text-align: center;
    padding: 10px;
  }

  .navbar {
    text-align: center;
  }
  .navbar {
    background-color: #04092cda;
  }
  

  .navbar a {
    display: block;
    padding: 10px;
  }
}
