.container {
    max-width: 600px;
    margin: 0 auto;
  }

  .nav-link.active.custom-font {
    color: #faf6f6 !important;
  }
  

  nav {
    margin: 0;
    padding: 0;
  }

  .nav-link.active {
    color: white !important;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
  }

  .btn-custom {
    background-color: #19246d; 
    color: white; 
    transition: background-color 0.3s ease; 
    width: 300px; 
  }
  
body {
  font-family: 'Roboto', sans-serif;
}

  .btn-custom:hover {
    background-color: #949faa; 
  }

  .arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin: 2px 0;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    background-color: rgb(147, 147, 167);
    border-radius: 50%;
    margin: 2px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-iteration-count: infinite
  }
  
  /* Animaci칩n para hacer aparecer los puntos uno por uno */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.5); /* Comienza peque침o */
    }
    100% {
      opacity: 1;
      transform: scale(1); /* Tama침o normal */
    }
  }
  
  /* A침adimos un retraso para que los puntos aparezcan de uno en uno */
  .row:nth-child(1) .dot {
    animation-delay: 0.1s;
  }
  .row:nth-child(2) .dot:nth-child(1) {
    animation-delay: 0.2s;
  }
  .row:nth-child(2) .dot:nth-child(2) {
    animation-delay: 0.3s;
  }
  .row:nth-child(3) .dot:nth-child(1) {
    animation-delay: 0.4s;
  }
  .row:nth-child(3) .dot:nth-child(2) {
    animation-delay: 0.5s;
  }
  .row:nth-child(3) .dot:nth-child(3) {
    animation-delay: 0.6s;
  }
  .row:nth-child(4) .dot:nth-child(1) {
    animation-delay: 0.7s;
  }
  .row:nth-child(4) .dot:nth-child(2) {
    animation-delay: 0.8s;
  }
  .row:nth-child(4) .dot:nth-child(3) {
    animation-delay: 0.9s;
  }
  .row:nth-child(4) .dot:nth-child(4) {
    animation-delay: 1s;
  }
  .row:nth-child(5) .dot:nth-child(1) {
    animation-delay: 1.1s;
  }
  .row:nth-child(5) .dot:nth-child(2) {
    animation-delay: 1.2s;
  }
  .row:nth-child(5) .dot:nth-child(3) {
    animation-delay: 1.3s;
  }
  .row:nth-child(5) .dot:nth-child(4) {
    animation-delay: 1.4s;
  }
  .row:nth-child(5) .dot:nth-child(5) {
    animation-delay: 1.5s;
  }
  .row:nth-child(6) .dot:nth-child(1) {
    animation-delay: 1.6s;
  }
  .row:nth-child(6) .dot:nth-child(2) {
    animation-delay: 1.7s;
  }
  .row:nth-child(6) .dot:nth-child(3) {
    animation-delay: 1.8s;
  }
  .row:nth-child(7) .dot {
    animation-delay: 1.9s;
  }
  

  